// Fonts
$playfair-display: "Playfair Display", serif;
$plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

// Colors
$primary-color: #b1454a;
$secondary-color: #121212;
$black-200: #020202;
$black-300: #333333;
$black-400: #1f1e31;
$black-500: #555555;
$gray-100: #888888;
$color-white: #fff;
$color-creamson: #fff0de;

// Gap
$gap-base: 8px;
$gap-sm: $gap-base * 1.25;
$gap-md: $gap-base * 2.5;
$gap-lg: $gap-base * 8;

// Font weights
$font-weight-base: 500;
$font-weight-bolder: $font-weight-base + 100; // 600
$font-weight-bold: $font-weight-base + 200; // 700
$font-weight-lighter: $font-weight-base - 100; // 400
$font-weight-light: $font-weight-base - 200; // 300

// Opacity
$opacity-medium: 0.8;
$opacity-light: math.div($opacity-medium, 1.6); // 0,5

//Background collection
$popular-foods-btn-bg: (
    sushi: "../assets/sushi-9.png",
    ramen: "../assets/sushi-8.png",
    udon: "../assets/sushi-7.png",
    danggo: "../assets/sushi-6.png",
    maki: "../assets/sushi-5.png",
    drinks: "../assets/sushi-4.png",
    sashimi: "../assets/sushi-3.png",
    nigiri: "../assets/sushi-2.png"
);